.main {
  background-color: #141414;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.desc{
  color: white;
  font-size: 1.5rem;
  margin-top: 40px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 40px;
}

.image{
  width: 200px;
  height: 200px;
  
}





